.td, .start, .end, .boundary, .route{
    width: 2px;
    height: 2px;
    font-size: 0.1em;
    border-collapse: collapse;
    border: 0.5px solid var(--silver);
    border-radius: 1px;
}
.td{
    background-color: var(--isabelline);
}
.start{
    background-color: var(--light-green);
}
.end{
    background-color: var(--melon);
}
.boundary{

}
.route{

}

@media (max-width: 490px) {
    .td {
        width: 1px;
        height: 1px;
    }
}

@media (max-width: 390px) {
    .td {
        width: 0.5px;
        height: 0.5px;
    }
}

@media (max-width: 330px) {
    .td {
        width: 0.2px;
        height: 0.2px;
        border: 0.2px solid var(--silver);
        border-radius: 0.2px;
    }
}

@media (max-width: 300px) {
    .td {
        width: 0.08px;
        height: 0.08px;
    }
}